@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFCF9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  :root {
    --background: 30 100% 98.8%;
    --foreground: 16 57% 24%;
    --card: 0 0% 100%;
    --card-foreground: 16 57% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 16 57% 24%;
    --primary: 16 57% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 60% 95%;
    --secondary-foreground: 16 57% 24%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 353 45% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89%;
    --input: 0 60% 95%;
    --ring: 16 57% 24%;
    --radius: 0.75rem;
  }
}

@layer base {
  body {
    @apply bg-brand-cream text-brand-brown;
  }
}

@layer base {
  [data-debug-wrapper='true'] {
    display: contents !important;
  }

  [data-debug-wrapper='true'] > * {
    margin-left: inherit;
    margin-right: inherit;
    margin-top: inherit;
    margin-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    column-gap: inherit;
    row-gap: inherit;
    gap: inherit;
    border-left-width: inherit;
    border-right-width: inherit;
    border-top-width: inherit;
    border-bottom-width: inherit;
    border-left-style: inherit;
    border-right-style: inherit;
    border-top-style: inherit;
    border-bottom-style: inherit;
    border-left-color: inherit;
    border-right-color: inherit;
    border-top-color: inherit;
    border-bottom-color: inherit;
  }
}
